<footer class="footer bg-white pt-1"> <!-- relative -->
    <div class="mx-auto px-6">
        <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-blue-400 font-bold mb-2">
                        © 2020 made by <a href="https://t-do.ru/MurelloS" class="hover:text-blue-700 text-blue-600">Sultanov Murat <i class="fab fa-telegram-plane"></i></a>
            </div>
        </div>
    </div>
</footer>