<!DOCTYPE html>
<html lang="en">

<head>
    <title>Авторизация</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<style>
    .auth-background {
        background: url('{{ url_for("static", filename="images/auth-background.jpg") }}');
        background-size: cover;
        background-position: center center;
    }
</style>
<body>
    <div class="bg-gray-200 h-screen w-screen">
        <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
            <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 500px">
                <div class="flex flex-col w-full md:w-1/2 p-4">
                    <div class="flex flex-col flex-1 justify-center mb-8">
                        <h1 class="text-4xl text-center font-thin">Ну привет!</h1>
                        {% if error %}
                        <p class="text-xs text-red-600 text-center">
                            Если вы не администратор этого ресурса, то вам тут делать нечего. Не стоит вскрывать
                            эту
                            тему. Вы молодые, шутливые, вам все легко. Это не то. Это не Чикатило и даже не архивы
                            спецслужб. Сюда лучше не лезть. Серьезно, любой из вас будет жалеть. Лучше вернитесь на главную страницу и
                            забудьте что тут писалось. Я вполне понимаю что данным сообщением вызову дополнительный
                            интерес,
                            но хочу сразу предостеречь пытливых - стоп. Остальные просто не войдут.
                        </p>
                        {% endif %}
                        <div class="w-full mt-1">
                            <form class="form-horizontal w-3/4 mx-auto" method="post" action="">
                                <div class="flex flex-col mt-4">
                                    <input id="login" type="text"
                                        class="flex-grow h-8 px-2 border rounded border-grey-400" value=""
                                        placeholder="Логин" name="login" value="{{request.form.login}}">
                                </div>
                                <div class="flex flex-col mt-4">
                                    <input id="password" type="password"
                                        class="flex-grow h-8 px-2 rounded border border-grey-400" name="password"
                                        required placeholder="Пароль" name="password" value="{{request.form.password}}">
                                </div>
                                <div class="flex flex-col mt-8">
                                    <input class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded" type="submit" value="Впусти меня уже!">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="hidden md:block md:w-1/2 rounded-r-lg  auth-background"></div>
                
            </div>
        </div>
    </div>
</body>

</html>